:root {
  --clr-primary-100: #f1eeff;
  --clr-primary-400: #8264f8;
  --clr-primary-600: #7d39c0;
  --clr-secondary-100: #ffeae9;
  --clr-secondary-400: #ff99ac;
  --clr-neutral-100: #fff;
  --clr-neutral-500: #777;
  --clr-neutral-700: #555;
  --clr-neutral-800: #444;
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-3: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-4: 0 0 10px rgba(255, 0, 0, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

.scroll {
  scroll-margin-top: 5.8rem;
}

.scroll-0 {
  scroll-margin-top: 0;
}

/*/////////////////////////////////////////
TYPOGRAPHY
/////////////////////////////////////////*/
h1,
h2,
h3,
label {
  line-height: 1;
}

h1,
h2 {
  color: var(--clr-primary-400);
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

h2::after {
  content: "";
  display: block;
  background-color: var(--clr-secondary-400);
  margin-top: 1.3rem;
  width: 10rem;
  height: 0.4rem;
}

h3 {
  color: var(--clr-secondary-400);
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  font-family: "Alike", serif;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  color: var(--clr-neutral-500);
}

/*/////////////////////////////////////////
COMPONENTS
/////////////////////////////////////////*/
.container {
  margin: 0 auto;
  padding: 3.6rem 1.6rem;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 1.8rem;
  border-radius: 0.4rem;
}

.btn,
.btn-link {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
}

button,
.btn {
  box-shadow: var(--shadow-1);
}

.btn {
  display: block;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  padding: 1.5rem 3rem;
  margin-bottom: 4rem;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
}

.btn-link {
  color: var(--clr-primary-400);
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

/*/////////////////////////////////////////
HEADER SECTION
/////////////////////////////////////////*/
.header-container {
  display: flex;
  flex-direction: column-reverse;
  /* margin-top: 4rem; */
}

.header {
  /* display: flex; */
  position: relative;
  background-color: var(--clr-secondary-100);
}

.header-image {
  position: relative;
  height: 18rem;
  /* temporary: change back to 3 */
  margin-bottom: 2rem;
}

.header-image::after {
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  display: block;
  content: "";
  height: 18rem;
  width: calc(100% - 1.8rem);
  border: 0.4rem solid var(--clr-primary-400);
  border-radius: 0.4rem;
  /* temporary */
  margin-top: -2.5rem;
}

.header-image img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 18rem;
  object-fit: cover;
  z-index: 1;
  width: calc(100% - 1.8rem);
  /* temporary */
  margin-top: -2.5rem;
}

.header-buttons {
  display: flex;
  flex-direction: column;
}

.header-buttons .btn {
  margin-bottom: 0.5rem;
}

/*/////////////////////////////////////////
NAV BAR
/////////////////////////////////////////*/
.nav-container {
  position: relative;
  z-index: 100;
}
.navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 1.6rem;
  height: 4rem;
  box-shadow: var(--shadow-3);
}

.logo,
.logo img {
  width: 17rem;
}

.logo a {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.navbar .logo {
  padding-top: 3rem;
  margin-bottom: -0erem;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 2.4rem;
  background-color: var(--clr-secondary-400);
  position: relative;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hamburger {
  margin-top: 0.8rem;
}

.hamburger::before {
  position: absolute;
  bottom: 0.6rem;
}

.hamburger::after {
  position: absolute;
  top: 0.6rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(255, 153, 172);
  background: linear-gradient(
    0deg,
    rgba(255, 153, 172, 1) 0%,
    rgba(130, 100, 248, 1) 100%
  );
  box-shadow: var(--shadow-2);
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.nav-item {
  font-size: 2.4rem;
  font-weight: 100;
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.navigation .btn {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
}

.hidden-flex {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  left: 100vw;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

#hamburger-check {
  display: none;
}
#hamburger-check:checked ~ .hamburger {
  background-color: transparent;
}

#hamburger-check:checked ~ .hamburger::before {
  transform: rotate(135deg);
  bottom: 0;
  background-color: var(--clr-primary-100);
}
#hamburger-check:checked ~ .hamburger::after {
  transform: rotate(-135deg);
  top: 0;
  background-color: var(--clr-primary-100);
}

#hamburger-check:checked ~ .hidden-flex {
  visibility: visible;
  pointer-events: visible;
  opacity: 1;
  transform: translateX(-100vw);
}

/*/////////////////////////////////////////
SERVICES SECTION
/////////////////////////////////////////*/

.services_lashes .btn {
  margin-bottom: 0;
}

/*/////////////////////////////////////////
GALLERY SECTION
/////////////////////////////////////////*/
.section-gallery {
  background-color: var(--clr-primary-100);
}

.gallery {
  display: grid;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12";
  gap: 0.6rem;
}
.gallery-image {
  margin: 0;
  border-radius: 0.3rem;
}

/* ////////////   MODAL   //////////// */
.slideshow-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: var(--shadow-2);
}

#modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  font-size: 2rem;
  font-weight: 100;
}

.slideshow-container {
  background: var(--clr-neutral-800);
  padding: 2rem 1.4rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-3);
}

#slideshow-display {
  width: min(50rem, 85vw);
  height: min(30rem, 85vw);
  background: white;
  border-radius: 0.2rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 0;
  font-size: 1.2rem;
  color: var(--clr-primary-100);
}

.controls button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*/////////////////////////////////////////
ABOUT SECTION
/////////////////////////////////////////*/
.section-about {
  background-color: var(--clr-primary-400);
}

.about-image {
  position: relative;
  height: 18rem;
  margin-bottom: 4rem;
}

.about-image::after {
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  display: block;
  content: "";
  height: 18rem;
  width: calc(100% - 1.8rem);
  border: 0.4rem solid var(--clr-secondary-100);
  border-radius: 0.4rem;
}

.about-image img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 18rem;
  object-fit: cover;
  z-index: 1;
  width: calc(100% - 1.8rem);
}

/*/////////////////////////////////////////
CONTACT & FOOTER SECTIONS
/////////////////////////////////////////*/
.section-contact,
.footer {
  background-color: var(--clr-secondary-100);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.6rem;
  background-color: var(--clr-neutral-100);
  min-height: 36rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-2);
}

.form-heading::after {
  margin: 1.3rem auto 1.3rem auto;
}

.form .btn {
  margin-bottom: 0;
  display: block;
  width: 100%;
  border: 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
}

label {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--clr-primary-400);
}

.form-inputs input {
  width: 100%;
  padding: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--clr-secondary-400);
  color: var(--clr-neutral-700);
}

.form-inputs input::placeholder {
  color: #ccc;
}

input {
  max-width: 100%;
  font-size: 1.6rem;
}

.footer .logo {
  margin: 0 auto;
  padding-bottom: 1rem;
}

/*/////////////////////////////////////////
HELPER CLASSES
/////////////////////////////////////////*/
.clr-primary-100 {
  color: var(--clr-primary-100);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

.clr-secondary-100 {
  color: var(--clr-secondary-100);
}

.clr-secondary-400 {
  color: var(--clr-secondary-400);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}
