/*/////////////////////////////////////////
--------------   VARIABLES   --------------
/////////////////////////////////////////*/
:root {
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Alike", serif;
  --clr-primary-100: #f1eeff;
  --clr-primary-400: #8264f8;
  --clr-primary-600: #582fa5;
  --clr-secondary-100: #ffeae9;
  --clr-secondary-400: #ff99ac;
  --clr-neutral-100: #fff;
  --clr-neutral-500: #777;
  --clr-neutral-700: #555;
  --clr-neutral-800: #444;
  --shadow-1: 0 3px 6px rgba(0, 0, 0, 0.1);
  --shadow-2: 0 4px 8px rgba(0, 0, 0, 0.15);
  --shadow-3: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-4: 0 0 8px var(--clr-primary-100);
  --shadow-5: 0 0 0 0.6rem var(--clr-secondary-400);
}

/*/////////////////////////////////////////
-----------   RESET & GENERAL   -----------
/////////////////////////////////////////*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: var(--font-primary);
  scroll-behavior: smooth;
}

.scroll {
  scroll-margin-top: 5.8rem;
}

.scroll-0 {
  scroll-margin-top: 0;
}

/*/////////////////////////////////////////
-------------   TYPOGRAPHY   -------------
/////////////////////////////////////////*/
h1,
h2,
h3,
label {
  line-height: 1.1;
}

h1,
h2,
h4 {
  color: var(--clr-primary-400);
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  max-width: 35ch;
}

h2::after,
h4::after {
  content: "";
  display: block;
  background-color: var(--clr-secondary-400);
  margin-top: 1.3rem;
  width: 10rem;
  height: 0.4rem;
}

h3 {
  color: var(--clr-secondary-400);
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

p {
  font-size: 1.6rem;
  font-family: var(--font-secondary);
  line-height: 1.5;
  margin-bottom: 2.5rem;
  color: var(--clr-neutral-500);
  max-width: 65ch;
}

/*/////////////////////////////////////////
-------------   COMPONENTS   -------------
/////////////////////////////////////////*/
.container {
  margin: 0 auto;
  padding: 3.6rem 1.6rem;
}

section {
  z-index: -200;
}

header,
footer,
.container {
  position: relative;
}

img {
  width: 100%;
  display: block;
  margin-bottom: 1.8rem;
  border-radius: 0.4rem;
}

button,
.btn,
.btn-link {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

button,
.btn {
  box-shadow: var(--shadow-1);
}

.btn,
.btn:visited {
  display: block;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  padding: 1.5rem 3rem;
  margin-bottom: 4rem;
  border-radius: 0.3rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.1s;
}

.btn-cta,
.btn-cta:visited {
  background-color: var(--clr-secondary-400);
  margin-bottom: 0;
}

a.btn-cta:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-secondary-400);
}

.btn-link,
.btn-link:visited {
  color: var(--clr-primary-400);
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}

.pricing-btn-link {
  padding: 1rem 1.4rem;
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
}

.pricing-btn-link:first-of-type {
  padding: 1.75rem 1.4rem 1rem 1.4rem;
}

.pricing-btn-link::before {
  content: "—  ";
}

.pricing-btn-link::after {
  content: " —";
}

.controls button:hover,
.btn:hover {
  background-color: var(--clr-secondary-400);
}

.btn-link:hover {
  color: var(--clr-secondary-400);
}

.navbar .menu nav .btn:hover {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-100);
}

.controls button:hover,
.btn:hover,
.btn-link:hover,
.navbar .menu nav .btn:hover {
  transform: translateY(-0.2rem);
}

.pricing-container {
  padding-top: 4rem;
  padding-bottom: 0;
}

.pricing-container:last-of-type {
  padding-bottom: 4rem;
}

.pricing-container .heading-2,
.pricing-container .heading-2::after {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pricing-grid {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.pricing-card {
  background-color: var(--clr-neutral-100);
  border-radius: 0.4rem;
  border: 1px solid var(--clr-primary-400);
  box-shadow: var(--shadow-1);
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-heading {
  margin: 0;
  font-size: 2rem;
  color: var(--clr-primary-400);
}

.card-text p.card-p {
  margin: 0;
}
.card-price {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--clr-secondary-400);
  font-size: 4.4rem;
}

.cta-content {
  display: flex;
  flex-direction: column;
}

/*/////////////////////////////////////////
---------   DECORATIVE ELEMENTS   ---------
/////////////////////////////////////////*/
.triangles {
  display: none;
}

/*/////////////////////////////////////////
-----------   HEADER SECTION   -----------
/////////////////////////////////////////*/
.header-container {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 1.8rem;
}

.header {
  position: relative;
  background-color: var(--clr-secondary-100);
}

.header-image {
  position: relative;
  height: 18rem;
  margin-bottom: 4rem;
}

.header-image::after {
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  display: block;
  content: "";
  height: 18rem;
  width: calc(100% - 1.8rem);
  border: 0.4rem solid var(--clr-primary-400);
  border-radius: 0.4rem;
}

.header-image img {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: 18rem;
  object-fit: cover;
  z-index: 1;
  width: calc(100% - 1.8rem);
}

.header-buttons {
  display: flex;
  flex-direction: column;
}

.header-buttons .btn {
  margin-bottom: 0.5rem;
}

.pricing-header {
  background-color: var(--clr-primary-100);
}

.pricing-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-header-container {
  flex-direction: column;
}

.pricing-header-row {
  display: flex;
  flex-direction: column-reverse;
  flex-basis: 100%;
}

.pricing-header-image::after {
  border: 0.4rem solid var(--clr-secondary-400);
}

/*/////////////////////////////////////////
---------------   NAV BAR   ---------------
/////////////////////////////////////////*/
.nav-container {
  position: relative;
  z-index: 100;
}
.navbar {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 1.6rem;
  height: 4rem;
  box-shadow: var(--shadow-3);
}

.logo,
.logo img {
  width: 17rem;
  transition: transform 0.1s;
}
.logo img:hover {
  transform: scale(1.02);
}

.logo a {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.navbar .logo {
  padding-top: 3rem;
  margin-bottom: -0erem;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 0.2rem;
  width: 2.4rem;
  background-color: var(--clr-secondary-400);
  position: relative;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.hamburger {
  margin-top: 0.8rem;
}

.hamburger::before {
  position: absolute;
  bottom: 0.6rem;
}

.hamburger::after {
  position: absolute;
  top: 0.6rem;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgb(255, 153, 172);
  background: linear-gradient(
    0deg,
    rgba(255, 153, 172, 1) 0%,
    rgba(130, 100, 248, 1) 100%
  );
  box-shadow: var(--shadow-2);
}

.navigation {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}

.nav-item {
  font-size: 2.4rem;
  font-weight: 100;
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.navigation .btn {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--clr-primary-400);
  background-color: var(--clr-neutral-100);
}

#hamburger-check {
  display: none;
}
#hamburger-check:checked ~ .hamburger {
  background-color: transparent;
}

#hamburger-check:checked ~ .hamburger::before {
  transform: rotate(135deg);
  bottom: 0;
  background-color: var(--clr-primary-100);
}
#hamburger-check:checked ~ .hamburger::after {
  transform: rotate(-135deg);
  top: 0;
  background-color: var(--clr-primary-100);
}

#hamburger-check:checked ~ .hidden-flex {
  visibility: visible;
  pointer-events: visible;
  opacity: 1;
  transform: translateX(-100vw);
}

/*/////////////////////////////////////////
----------   SERVICES SECTION   ----------
/////////////////////////////////////////*/
.section-services,
.section-pricing {
  background-image: url(/img/tri-texture.svg);
  background-repeat: repeat;
  background-size: 2.4rem 2.4rem;
}

.services_lashes .btn {
  margin-bottom: 0;
}

/*/////////////////////////////////////////
-----------   GALLERY SECTION   -----------
/////////////////////////////////////////*/
.section-gallery {
  background-color: var(--clr-primary-100);
}

.gallery {
  display: grid;
  grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12";
  gap: 0.6rem;
}
.gallery-image {
  margin: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: var(--shadow-4);
  transition: all 0.1s;
}

.gallery-image:hover {
  box-shadow: var(--shadow-5);
}

/* ////////////   MODAL   //////////// */
.slideshow-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: var(--shadow-2);
}

#modal-close {
  position: absolute;
  top: 1.6rem;
  right: 2rem;
  color: white;
  font-size: 2.6rem;
  font-weight: 100;
  cursor: pointer;
}

#modal-close::after {
  content: "close";
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
  top: 3.6rem;
  right: 50%;
  transform: translateX(50%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slideshow-container {
  background: var(--clr-neutral-100);
  padding: 2rem 1.4rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-3);
}

#slideshow-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(45rem, 85vw);
  height: min(25rem, 85vw);
  background: var(--clr-primary-100);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.3rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0 0 0;
  font-size: 1.2rem;
  color: var(--clr-secondary-400);
}

.controls button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.2rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

/*/////////////////////////////////////////
------------   ABOUT SECTION   ------------
/////////////////////////////////////////*/
.section-about,
.section-cta {
  background: var(--clr-primary-400);
  background: linear-gradient(
    90deg,
    var(--clr-primary-400) 0%,
    var(--clr-primary-600) 100%
  );
  box-shadow: var(--shadow-2);
}

.about-image {
  position: relative;
  height: min(60rem, 60vw);
  margin-bottom: 4rem;
}

.about-image::after {
  position: absolute;
  top: 1.4rem;
  left: 1.4rem;
  display: block;
  content: "";
  height: min(60rem, 60vw);
  width: calc(100% - 1.8rem);
  border: 0.4rem solid var(--clr-secondary-100);
  border-radius: 0.4rem;
}

.about-image img {
  position: relative;
  top: 0rem;
  left: 0rem;
  height: min(60rem, 60vw);
  object-fit: cover;
  z-index: 1;
  width: calc(100% - 1.8rem);
}

/*/////////////////////////////////////////
------   CONTACT & FOOTER SECTIONS   ------
/////////////////////////////////////////*/
.section-contact,
.footer {
  background-color: var(--clr-secondary-100);
}

.contact-info {
  text-align: center;
  padding-bottom: 2rem;
}

.contact-info .heading-2::after {
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  width: min(100%, 68.5rem);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.6rem;
  background-color: var(--clr-neutral-100);
  min-height: 36rem;
  border-radius: 0.4rem;
  box-shadow: var(--shadow-2);
}

.form-heading::after {
  margin: 1.3rem auto 1.3rem auto;
}

.form .btn {
  margin-bottom: 0;
  display: block;
  width: 100%;
  border: 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 100%;
}

label {
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--clr-primary-400);
}

.form-inputs input,
.form-inputs textarea {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  width: 100%;
  padding: 1.4rem;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
  border: 1px solid var(--clr-secondary-400);
  color: var(--clr-neutral-700);
}

.form-inputs input::placeholder,
.form-inputs textarea::placeholder {
  color: #ccc;
}

.form-inputs input:focus,
.form-inputs textarea:focus {
  outline-color: var(--clr-primary-400);
}

.form .btn:focus {
  outline-color: var(--clr-secondary-400);
}

.form-inputs textarea,
input {
  max-width: 100%;
  min-width: 100%;
}

.form-inputs textarea {
  min-height: 12rem;
}

.footer .logo {
  margin: 0 auto;
  padding-bottom: 1rem;
}

/*/////////////////////////////////////////
-----------   HELPER CLASSES   -----------
/////////////////////////////////////////*/
.clr-primary-100 {
  color: var(--clr-primary-100);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

.clr-secondary-100 {
  color: var(--clr-secondary-100);
}

.clr-secondary-400 {
  color: var(--clr-secondary-400);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.hidden-flex {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  left: 100vw;
  transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
}

/*/////////////////////////////////////////
------------   MEDIA QUERIES   ------------
/////////////////////////////////////////*/

/*////    Landscape Phones    ////*/
@media screen and (min-width: 567px) {
  .btn {
    display: inline-block;
  }

  .btn,
  .btn-link {
    font-size: 1.6rem;
  }

  .btn-cta {
    align-self: flex-start;
  }

  .services_waxing .btn,
  .services_facials .btn {
    margin-bottom: 0;
  }

  .section-toptext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-toptext h2::after {
    margin-left: auto;
    margin-right: auto;
  }

  .section-toptext p {
    max-width: 50ch;
  }

  .container.nav-container {
    padding-bottom: 0;
  }

  .header-container {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  .header-image img {
    position: relative;
  }

  .header-image img,
  .header-image,
  .header-image::after {
    width: min(26rem, 28vw);
    height: min(26rem, 28vw);
  }

  .about-image img,
  .about-image,
  .about-image::after {
    width: min(26rem, 34vw);
    height: min(26rem, 34vw);
  }

  .header-buttons {
    display: inline-block;
  }

  .container {
    padding: 6rem 4rem;
  }

  .services {
    display: flex;
    gap: 2rem;
  }

  .services div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
  }

  .services div p {
    padding: 0 0.5rem;
  }

  .gallery {
    grid-template-areas:
      "img1 img2 img3 img4"
      "img5 img6 img7 img8"
      "img9 img10 img11 img12";
  }

  .section-about .container,
  .section-cta .container {
    display: flex;
  }

  .about-container,
  .cta-container {
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  .about-image img {
    position: relative;
  }

  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    flex-basis: 100%;
  }

  .contact-info {
    text-align: left;
    padding-bottom: unset;
  }

  .contact-info .heading-2::after {
    margin-left: unset;
    margin-right: unset;
  }

  .pricing-header-container {
    flex-direction: column;
  }

  .pricing-header-row {
    flex-direction: row;
    gap: 6rem;
  }

  .pricing-header-content {
    align-items: unset;
  }

  .pricing-container {
    padding-top: 6rem;
    padding-bottom: 0;
  }

  .pricing-container:last-of-type {
    padding-bottom: 6rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  .pricing-btn-link {
    font-size: 1.4rem;
    padding: 0;
    width: unset;
  }

  .pricing-btn-link:first-of-type {
    padding: 0;
  }

  .cta-content {
    align-items: center;
  }

  .cta-content h2::after {
    margin-left: auto;
    margin-right: auto;
  }

  .cta-content p {
    max-width: 60ch;
    text-align: center;
  }

  .btn-cta {
    align-self: center;
  }
}

/*////    Tablets    ////*/
@media screen and (min-width: 768px) {
  #slideshow-display {
    width: min(60rem, 60vw);
    height: min(40rem, 40vw);
  }
  .contact-container {
    gap: 6rem;
  }
  .pricing-heading-1 {
    max-width: 20ch;
  }
}

/*////    Desktops    ////*/
@media screen and (min-width: 992px) {
  .logo,
  .logo img {
    width: 20.8rem;
  }
  .header h1 {
    margin-bottom: 4rem;
  }

  h2 {
    margin-bottom: 3rem;
  }

  h3 {
    margin-bottom: 2rem;
  }

  .navbar,
  .hidden-flex,
  .hamburger,
  .hamburger::after,
  .hamburger::before,
  .menu,
  .navigation {
    all: unset;
  }

  .navbar .menu nav .btn:hover {
    background-color: var(--clr-secondary-400);
  }

  .header .nav-container {
    padding-top: 4rem;
    padding-bottom: 0;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
  }

  .nav-item {
    color: var(--clr-neutral-500);
    font-size: 1.8rem;
    font-weight: 400;
  }

  .nav-item:hover {
    color: var(--clr-secondary-400);
  }

  .section-services p,
  .section-gallery p,
  .section-pricing p {
    margin-bottom: 4rem;
    line-height: 1.6;
  }

  .services img {
    margin-bottom: 4rem;
  }

  .container {
    padding: 8rem min(calc(50vw - 20rem), 8rem);
  }

  .gallery {
    grid-template-areas:
      "img1 img2 img3 img4 img5 img6"
      "img7 img8 img9 img10 img11 img12";
  }

  .about-image img,
  .about-image,
  .about-image::after {
    width: min(48rem, 24vw);
    height: min(37rem, 18vw);
  }
  .contact-container {
    gap: 10rem;
  }
  .nav-item.btn {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    font-size: 1.6rem;
  }

  .container.header-container {
    padding-top: 10rem;
  }

  .container.pricing-header-container {
    padding-bottom: 4rem;
  }

  .pricing-container {
    padding-top: 8rem;
    padding-bottom: 0;
  }

  .pricing-container:last-of-type {
    padding-bottom: 8rem;
  }

  .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .odd-card {
    transform: translateX(calc(50% + 0.7rem));
  }
  .row {
    justify-content: center;
    gap: 4rem;
  }

  .triangles {
    display: block;
    position: absolute;
    margin: 0;
  }
  #tri-1 {
    bottom: 0%;
    left: 0;
    width: 12rem;
    transform: translateY(75%);
  }
  #tri-2 {
    top: 0%;
    right: 0;
    width: 14rem;
    transform: translateY(-28%);
  }
  #tri-3 {
    bottom: 0;
    left: 0;
    width: 16rem;
  }
}

/*////    Large Desktops    ////*/
@media screen and (min-width: 1200px) {
  h1,
  h2 {
    font-size: 3.8rem;
  }
  p {
    font-size: 1.8rem;
  }

  .container {
    padding: 12rem min(calc(50vw - 50rem), 40rem);
  }

  .header-image img,
  .header-image,
  .header-image::after {
    width: min(33rem, 18vw);
    height: min(33rem, 18vw);
  }

  .pricing-header-image img,
  .pricing-header-image,
  .pricing-header-image::after {
    width: min(33rem, 18vw);
    height: min(24rem, 18vw);
  }

  #slideshow-display {
    width: min(80rem, 52vw);
    height: min(55rem, 36vw);
  }

  .pricing-container {
    padding-top: 12rem;
    padding-bottom: 0;
  }

  .pricing-container:last-of-type {
    padding-bottom: 12rem;
  }

  .pricing-btn-link {
    font-size: 1.6rem;
  }

  #tri-1 {
    bottom: 0;
    left: 0;
    width: 14rem;
    transform: translateY(70%);
  }
  #tri-2 {
    top: 0;
    right: 0;
    width: 20rem;
    transform: translateY(-28%);
  }
  #tri-3 {
    bottom: 0;
    left: 0;
    width: 20rem;
  }
}

@media screen and (min-width: 1360px) {
  #tri-1 {
    bottom: 0;
    left: 0;
    width: 16rem;
    transform: translateY(-55%);
  }
  #tri-2 {
    top: 0;
    right: 0;
    width: 22rem;
    transform: translateY(-28%);
  }
  #tri-3 {
    bottom: 0;
    left: 0;
    width: 22rem;
  }
}

/*////    Extra Large Desktops    ////*/
@media screen and (min-width: 1921px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 8rem calc(50vw - 60rem);
  }

  .pricing-container {
    padding-top: 12rem;
    padding-bottom: 0;
  }

  .pricing-container:last-of-type {
    padding-bottom: 12rem;
  }
}

/*////    Super Small Phones    ////*/
@media screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }
}
